In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

##### df = pd.read_csv(
    'https://www.dropbox.com/s/0so14yudedjmm5m/LoanStats3d.csv?dl=1',
    skipinitialspace=True,
    header=1)
### Note the warning about dtypes.

In [3]:
df = pd.read_csv('LoanStats3d_1.csv')
# Note the warning about dtypes.

c:\python\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (19) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,68009401,72868139,16000,16000,16000,60 months,14.85%,379.39,C,C5,...,0,2,78.9,0.0,0,2,298100,31329,281300,13400
1,68354783,73244544,9600,9600,9600,36 months,7.49%,298.58,A,A4,...,0,2,100.0,66.7,0,0,88635,55387,12500,75635
2,68466916,73356753,25000,25000,25000,36 months,7.49%,777.55,A,A4,...,0,0,100.0,20.0,0,0,373572,68056,38400,82117
3,68466961,73356799,28000,28000,28000,36 months,6.49%,858.05,A,A2,...,0,0,91.7,22.2,0,0,304003,74920,41500,42503
4,68495092,73384866,8650,8650,8650,36 months,19.89%,320.99,E,E3,...,0,12,100.0,50.0,1,0,38998,18926,2750,18248

In [5]:
df.tail()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
69856,63938532,68369299,20000,20000,19900,60 months,12.59%,450.88,C,C2,...,0,4,100.0,50.0,1,0,40325,28076,26600,11725
69857,64210965,68680697,35000,35000,35000,60 months,17.57%,880.61,D,D4,...,0,0,100.0,100.0,0,0,104389,57561,16200,75289
69858,64391234,68860973,9675,9675,9675,36 months,13.67%,329.12,C,C4,...,1,1,76.5,100.0,0,0,22698,10345,5000,15898
69859,64291190,68760930,4000,4000,4000,36 months,9.99%,129.05,B,B3,...,0,1,84.2,50.0,0,0,154228,155895,4300,149928
69860,37000204,39752931,14675,14675,14675,36 months,19.99%,545.31,E,E3,...,0,3,75.0,0.0,0,0,33261,16085,13500,12461

In [12]:
df.dtypes

id                            int64
member_id                     int64
loan_amnt                     int64
funded_amnt                   int64
funded_amnt_inv               int64
                              ...
tax_liens                     int64
tot_hi_cred_lim               int64
total_bal_ex_mort             int64
total_bc_limit                int64
total_il_high_credit_limit    int64
Length: 111, dtype: object

In [13]:
df.info

<bound method DataFrame.info of              id  member_id  loan_amnt  funded_amnt  funded_amnt_inv  \
0      68009401   72868139      16000        16000            16000
1      68354783   73244544       9600         9600             9600
2      68466916   73356753      25000        25000            25000
3      68466961   73356799      28000        28000            28000
4      68495092   73384866       8650         8650             8650
...         ...        ...        ...          ...              ...
69856  63938532   68369299      20000        20000            19900
69857  64210965   68680697      35000        35000            35000
69858  64391234   68860973       9675         9675             9675
69859  64291190   68760930       4000         4000             4000
69860  37000204   39752931      14675        14675            14675

             term int_rate  installment grade sub_grade  ...  \
0       60 months   14.85%       379.39     C        C5  ...
1       36 months    7.49%       298.58     A        A4  ...
2       36 months    7.49%       777.55     A        A4  ...
3       36 months    6.49%       858.05     A        A2  ...
4       36 months   19.89%       320.99     E        E3  ...
...           ...      ...          ...   ...       ...  ...
69856   60 months   12.59%       450.88     C        C2  ...
69857   60 months   17.57%       880.61     D        D4  ...
69858   36 months   13.67%       329.12     C        C4  ...
69859   36 months    9.99%       129.05     B        B3  ...
69860   36 months   19.99%       545.31     E        E3  ...

      num_tl_90g_dpd_24m num_tl_op_past_12m pct_tl_nvr_dlq  percent_bc_gt_75  \
0                      0                  2           78.9               0.0
1                      0                  2          100.0              66.7
2                      0                  0          100.0              20.0
3                      0                  0           91.7              22.2
4                      0                 12          100.0              50.0
...                  ...                ...            ...               ...
69856                  0                  4          100.0              50.0
69857                  0                  0          100.0             100.0
69858                  1                  1           76.5             100.0
69859                  0                  1           84.2              50.0
69860                  0                  3           75.0               0.0

      pub_rec_bankruptcies tax_liens tot_hi_cred_lim total_bal_ex_mort  \
0                        0         2          298100             31329
1                        0         0           88635             55387
2                        0         0          373572             68056
3                        0         0          304003             74920
4                        1         0           38998             18926
...                    ...       ...             ...               ...
69856                    1         0           40325             28076
69857                    0         0          104389             57561
69858                    0         0           22698             10345
69859                    0         0          154228            155895
69860                    0         0           33261             16085

      total_bc_limit total_il_high_credit_limit
0             281300                      13400
1              12500                      75635
2              38400                      82117
3              41500                      42503
4               2750                      18248
...              ...                        ...
69856          26600                      11725
69857          16200                      75289
69858           5000                      15898
69859           4300                     149928
69860          13500                      12461

[69861 rows x 111 columns]>

In [6]:
df.shape

(69861, 111)

In [7]:
df.loan_status

0           Current
1           Current
2        Fully Paid
3           Current
4        Fully Paid
            ...
69856       Current
69857       Current
69858       Current
69859       Current
69860       Current
Name: loan_status, Length: 69861, dtype: object

In [8]:
from sklearn import ensemble
from sklearn.model_selection import cross_val_score

rfc = ensemble.RandomForestClassifier()
X = df.drop('loan_status', 1)
Y = df['loan_status']
X = pd.get_dummies(X)

cross_val_score(rfc, X, Y, cv=5)

MemoryError: Unable to allocate array with shape (69861, 27961) and data type uint8

In [ ]:
# The naive aproach above causing the kernel to die. Let's do some data cleaning

In [14]:
categorical = df.select_dtypes(include=['object'])
for i in categorical:
    column = categorical[i]
    print(i)
    print(column.nunique())

term
2
int_rate
70
grade
7
sub_grade
35
emp_title
27961
emp_length
11
home_ownership
4
verification_status
3
issue_d
3
loan_status
7
pymnt_plan
1
url
69861
desc
6
purpose
12
title
12
zip_code
865
addr_state
49
earliest_cr_line
610
revol_util
1101
initial_list_status
2
last_pymnt_d
15
next_pymnt_d
3
last_credit_pull_d
15
application_type
2
verification_status_joint
3

In [ ]:
# We have a problem here (above). To many distinct trpes. Let's drop the ones with over 30 unique values and 
# converting to numeric where it makes sense. 
# dates will be dropped.

In [18]:
# Convert ID and Interest Rate to numeric.
df['id'] = pd.to_numeric(df['id'], errors='coerce')
df['int_rate'] = pd.to_numeric(df['int_rate'].str.strip('%'), errors='coerce')

# Drop other columns with many unique variables
df.drop(['url', 'emp_title', 'zip_code', 'earliest_cr_line', 'revol_util',
            'sub_grade', 'addr_state', 'desc'], 1, inplace=True)

In [19]:
pd.get_dummies(df)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,annual_inc,dti,delinq_2yrs,...,last_credit_pull_d_May-2016,last_credit_pull_d_Nov-2015,last_credit_pull_d_Nov-2016,last_credit_pull_d_Oct-2016,last_credit_pull_d_Sep-2016,application_type_INDIVIDUAL,application_type_JOINT,verification_status_joint_Not Verified,verification_status_joint_Source Verified,verification_status_joint_Verified
0,68009401,72868139,16000,16000,16000,14.85,379.39,48000.0,33.18,0,...,0,0,0,0,0,1,0,0,0,0
1,68354783,73244544,9600,9600,9600,7.49,298.58,60000.0,22.44,0,...,0,0,0,0,0,1,0,0,0,0
2,68466916,73356753,25000,25000,25000,7.49,777.55,109000.0,26.02,0,...,0,0,0,0,0,1,0,0,0,0
3,68466961,73356799,28000,28000,28000,6.49,858.05,92000.0,21.60,0,...,0,0,0,0,0,1,0,0,0,0
4,68495092,73384866,8650,8650,8650,19.89,320.99,55000.0,25.49,0,...,0,0,0,0,0,1,0,0,0,0
5,68506798,73396623,23000,23000,23000,8.49,471.77,64000.0,18.28,0,...,0,0,0,0,0,1,0,0,0,0
6,68566886,73456723,29900,29900,29900,12.88,678.49,65000.0,21.77,0,...,0,0,0,0,0,1,0,0,0,0
7,68577849,73467703,18000,18000,18000,11.99,400.31,112000.0,8.68,0,...,0,0,0,0,0,1,0,0,0,0
8,66310712,71035433,35000,35000,35000,14.85,829.90,110000.0,17.06,0,...,0,0,0,0,0,1,0,0,0,0
9,68476807,73366655,10400,10400,10400,22.45,289.91,104433.0,25.37,1,...,0,0,0,0,0,1,0,0,0,0
10,68341763,72928789,20000,20000,20000,10.78,432.66,63000.0,10.78,0,...,0,0,0,0,0,0,1,1,0,0
11,68356421,73246236,22400,22400,22400,12.88,508.30,95000.0,22.98,0,...,0,0,0,0,0,1,0,0,0,0
12,68426545,73316365,16000,16000,16000,12.88,363.07,70000.0,26.40,0,...,0,0,0,0,0,1,0,0,0,0
13,68407277,73297111,3600,3600,3600,13.99,123.03,55000.0,5.91,0,...,0,0,0,0,0,1,0,0,0,0
14,68355089,73244858,24700,24700,24700,11.99,820.28,65000.0,16.06,1,...,1,0,0,0,0,1,0,0,0,0
15,68466926,73356763,10000,10000,10000,6.49,306.45,85000.0,13.07,0,...,0,0,0,0,0,1,0,0,0,0
16,68338832,73542831,1400,1400,1400,12.88,47.10,64000.0,34.95,0,...,0,0,0,0,0,1,0,0,0,0
17,68426831,73316657,11950,11950,11950,13.44,405.18,34000.0,10.20,0,...,0,0,0,0,0,1,0,0,0,0
18,66624733,71350547,18000,18000,18000,19.48,471.70,150000.0,9.39,0,...,0,0,0,0,0,1,0,0,0,0
19,68616873,73519699,8000,8000,8000,11.48,263.74,42000.0,34.80,0,...,0,0,0,0,0,1,0,0,0,0
20,67275481,72077199,20000,20000,20000,8.49,631.26,85000.0,17.61,1,...,0,0,0,0,0,1,0,0,0,0
21,68476668,73366513,20000,20000,20000,9.17,637.58,180000.0,14.67,0,...,0,0,1,0,0,1,0,0,0,0
22,68476702,73366548,28000,28000,28000,13.44,949.38,125000.0,7.49,0,...,0,0,0,0,0,1,0,0,0,0
23,68436666,73326493,5000,5000,5000,13.44,169.54,79000.0,12.70,0,...,0,0,0,0,0,1,0,0,0,0
24,68596180,73485987,20000,20000,20000,5.32,602.30,65000.0,18.83,0,...,0,0,0,0,0,1,0,0,0,0
25,67849662,72708407,4225,4225,4225,14.85,146.16,35000.0,15.22,2,...,0,0,0,0,0,1,0,0,0,0
26,68526883,73416719,15000,15000,15000,5.32,451.73,44000.0,15.34,0,...,0,0,0,0,0,1,0,0,0,0
27,68607141,73509983,17600,17600,17600,5.32,530.03,88000.0,26.59,0,...,0,0,1,0,0,1,0,0,0,0
28,68476715,73366561,6000,6000,6000,7.49,186.61,100000.0,13.28,1,...,0,0,0,0,0,1,0,0,0,0
29,67715283,72569997,16000,16000,16000,12.88,538.18,65000.0,18.96,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69831,64281193,68750923,15000,15000,15000,16.99,534.72,60000.0,21.64,1,...,0,0,0,0,0,1,0,0,0,0
69832,64341038,68810774,20000,20000,20000,5.32,602.30,90000.0,22.91,0,...,0,0,0,0,0,1,0,0,0,0
69833,63580423,67976135,6000,6000,6000,8.18,188.52,61000.0,13.83,0,...,0,0,1,0,0,1,0,0,0,0
69834,64390565,68860288,5850,5850,5850,7.89,183.03,48000.0,15.73,0,...,0,0,0,0,0,1,0,0,0,0
69835,64220972,68690709,18000,18000,17900,21.99,497.04,80000.0,19.08,0,...,0,0,0,0,0,1,0,0,0,0
69836,64280499,68750219,20000,20000,20000,11.49,659.43,92000.0,21.32,1,...,0,0,0,0,0,1,0,0,0,0
69837,64341000,68810736,16000,16000,16000,6.89,493.23,50000.0,25.85,0,...,0,0,0,0,0,1,0,0,0,0
69838,63958747,68389515,9800,9800,9800,10.99,320.80,62500.0,5.86,0,...,0,0,0,0,0,1,0,0,0,0
69839,64311056,68780786,20000,20000,20000,9.17,637.58,115000.0,18.23,0,...,0,0,0,0,0,1,0,0,0,0
69840,64201444,68671192,5400,5400,5400,8.18,169.67,53000.0,15.83,0,...,0,0,0,0,0,1,0,0,0,0
69841,64181100,68650843,35000,35000,35000,7.89,1095.00,155000.0,13.82,0,...,0,0,0,0,0,1,0,0,0,0
69842,64180955,68650694,16925,16925,16925,19.99,448.32,38500.0,28.96,0,...,0,0,0,0,0,1,0,0,0,0
69843,64381162,68850901,3000,3000,3000,11.49,98.92,32000.0,20.44,1,...,0,0,1,0,0,1,0,0,0,0
69844,64067836,68498569,6000,6000,6000,6.24,183.19,45000.0,28.83,0,...,0,0,0,0,0,1,0,0,0,0
69845,64260908,68730643,18000,18000,18000,11.49,395.78,70000.0,18.40,1,...,0,0,0,0,0,1,0,0,0,0
69846,64019049,68449828,27200,27200,27200,17.57,684.36,90000.0,9.33,0,...,0,0,0,0,0,1,0,0,0,0
69847,63999564,68430370,35000,35000,35000,8.18,1099.69,155796.0,9.10,0,...,0,0,0,0,0,1,0,0,0,0
69848,64301164,68770903,35000,35000,35000,7.26,1084.87,400000.0,7.75,0,...,0,0,0,0,0,1,0,0,0,0
69849,64099383,68530172,6000,6000,6000,13.18,202.69,15000.0,15.92,0,...,0,0,1,0,0,1,0,0,0,0
69850,64341021,68810757,4525,4525,4525,9.17,144.26,74170.0,6.54,0,...,0,0,0,0,0,1,0,0,0,0
69851,64320891,68790631,6600,6600,6600,8.18,207.37,120000.0,10.37,0,...,0,0,1,0,0,1,0,0,0,0
69852,64310993,68780723,7500,7500,7500,7.89,234.65,68000.0,15.86,0,...,0,0,0,0,0,1,0,0,0,0
69853,64371269,68841012,4000,4000,4000,11.49,131.89,35000.0,16.77,0,...,0,0,0,0,0,1,0,0,0,0
69854,63387365,67729152,16000,16000,16000,7.26,495.94,98000.0,5.11,0,...,0,0,0,1,0,1,0,0,0,0
69855,64260987,68730724,4200,4200,4200,13.18,141.88,60000.0,2.72,0,...,0,0,0,1,0,1,0,0,0,0
69856,63938532,68369299,20000,20000,19900,12.59,450.88,61000.0,15.03,0,...,0,0,0,0,0,1,0,0,0,0
69857,64210965,68680697,35000,35000,35000,17.57,880.61,94000.0,29.35,0,...,0,0,0,0,0,1,0,0,0,0
69858,64391234,68860973,9675,9675,9675,13.67,329.12,35000.0,12.38,1,...,0,0,0,0,0,1,0,0,0,0
69859,64291190,68760930,4000,4000,4000,9.99,129.05,65000.0,21.60,0,...,0,0,0,0,0,1,0,0,0,0
69860,37000204,39752931,14675,14675,14675,19.99,545.31,78000.0,7.55,2,...,0,0,0,0,0,1,0,0,0,0

In [ ]:
# Now it works, but we sacrifice several features. 
# If you want to include them you could run the dummies independently and then append them back to the dataframe.

In [20]:
from sklearn import ensemble
from sklearn.model_selection import cross_val_score

rfc = ensemble.RandomForestClassifier()
X = df.drop('loan_status', 1)
Y = df['loan_status']
X = pd.get_dummies(X)
X = X.dropna(axis=1)

cross_val_score(rfc, X, Y, cv=10)

c:\python\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\python\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\python\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\python\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\python\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\python\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\python\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\python\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\python\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\python\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

array([0.9758226 , 0.97868078, 0.98039496, 0.97982255, 0.97967654,
       0.98038935, 0.97995418, 0.98066733, 0.97894888, 0.97937849])

In [ ]:
# The score cross validation reports is the accuracy of the tree. Here we're about 98% accurate.

##### That works pretty well, but there are a few potential problems. Firstly, we didn't really do much in the way of feature selection or model refinement. As such there are a lot of features in there that we don't really need. Some of them are actually quite impressively useless.

##### There's also some variance in the scores. The fact that one gave us only 93% accuracy while others gave higher than 98 is concerning. This variance could be corrected by increasing the number of estimators. That will make it take even longer to run, however, and it is already quite slow.

In [21]:
from sklearn import ensemble
from sklearn.model_selection import cross_val_score

rfc = ensemble.RandomForestClassifier()
X = df.drop('loan_status', 1)
Y = df['loan_status']
X = pd.get_dummies(X)
X = X.dropna(axis=1)

cross_val_score(rfc, X, Y, cv=20)

c:\python\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\python\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\python\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\python\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\python\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\python\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\python\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\python\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\python\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\python\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\python\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\python\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\python\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\python\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\python\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\python\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\python\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\python\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\python\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\python\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

array([0.98227052, 0.98083524, 0.97739628, 0.98054363, 0.97854077,
       0.98168288, 0.97852849, 0.97995992, 0.97881477, 0.97910106,
       0.98024621, 0.98053249, 0.98167764, 0.98024621, 0.98138603,
       0.97966781, 0.97994844, 0.97707736, 0.97793696, 0.97965616])

In [22]:
# increasing the cross validation reduced the accuracy gap to 0.0052